In [1]:
import os
import folium
import numpy as np
import pandas as pd
import geopandas as gpd

In [2]:
fountains_distances = pd.read_csv("fountains-nearest-distances.csv")
fountains_counts = pd.read_csv("fountains-in-parcs-counts.csv")

In [4]:
print(f"fountains distances: {len(fountains_distances)}")
print(f"fountains counts: {len(fountains_counts)}")

fountains distances: 848
fountains counts: 823

In [6]:
fountains_distances.head(2)

,id,nearest_rev,nearest_fountain,nearest_rvertes,nearest_pcyclable,nearest_murbain,nearest_iexterne,min_col,min_val
0,1,2697.569104,48.907970,2512.295088,176.113692,2529.702004,21.446787,nearest_iexterne,21.446787
1,2,2745.451551,1.408827,2541.866572,167.330400,2495.967421,33.065103,nearest_fountain,1.408827

In [7]:
fountains_counts.head(2)

   id  longitude   latitude  objectid  superficie  count
0   1 -73.589462  45.592012      5069    11.80462      5
1   2 -73.590055  45.592189      5069    11.80462      5

In [10]:
fountains_distances = fountains_distances.astype({
                            "id": "int64", 
                            "nearest_rev": "float64",
                            "nearest_fountain": "float64",
                            "nearest_rvertes": "float64",
                            "nearest_pcyclable": "float64",
                            "nearest_murbain": "float64", 
                            "nearest_iexterne": "int64",
                            "min_col": "str",
                            "min_val": "float64"})

In [11]:
fountains_counts = fountains_counts.astype({
                            "id": "int64", 
                            "longitude": "float64",
                            "latitude": "float64",
                            "objectid": "int64",
                            "superficie": "float64",
                            "count": "int64"})

In [14]:
inner_join = fountains_distances.merge(fountains_counts, on="id", how="inner")

In [15]:
print(f"inner join: {len(inner_join)}")

inner join: 823

In [16]:
inner_join

,id,nearest_rev,nearest_fountain,nearest_rvertes,nearest_pcyclable,nearest_murbain,nearest_iexterne,min_col,min_val,longitude,latitude,objectid,superficie,count
0,1,2697.569104,48.907970,2512.295088,176.113692,2529.702004,21,nearest_iexterne,21.446787,-73.589462,45.592012,5069,11.804620,5
1,2,2745.451551,1.408827,2541.866572,167.330400,2495.967421,33,nearest_fountain,1.408827,-73.590055,45.592189,5069,11.804620,5
2,3,2744.043719,1.408827,2540.756133,167.190902,2497.152536,32,nearest_fountain,1.408827,-73.590041,45.592181,5069,11.804620,5
3,4,2582.406191,141.348494,2371.053545,84.592035,2670.529930,18,nearest_iexterne,18.837126,-73.589008,45.590781,5069,11.804620,5
4,5,2864.119220,126.598086,2456.527385,79.330947,2419.307259,29,nearest_iexterne,29.983704,-73.591582,45.592574,5069,11.804620,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
818,857,1025.738445,66.058187,436.680630,45.974621,0.006437,39,nearest_murbain,0.006437,-73.585019,45.513926,5629,188.360395,18
819,858,689.051108,216.969541,392.961703,318.875576,0.004719,50,nearest_murbain,0.004719,-73.624048,45.534399,4294,35.129395,10
820,859,822.018555,113.538916,387.837087,342.448397,0.002605,43,nearest_murbain,0.002605,-73.629862,45.534792,4294,35.129395,10
821,860,2221.813609,7.924487,1594.480515,9.277082,0.007409,156,nearest_murbain,0.007409,-73.587196,45.502090,5629,188.360395,18
822,861,3537.811751,251.904551,330.191211,19.416693,0.052137,416,nearest_murbain,0.052137,-73.653425,45.585338,5449,31.503039,10

In [18]:
inner_join.to_csv("fountains-distances-join-fountains-counts.csv", index=False)